* { padding: 0; margin: 0; }
body{ width: 100vw; height: 100vh; }

body > header { width: 100%; height: 20%; text-align: center; }
body > div    { width: 100%; height: 78%; }
body > footer { width: 100%; height: 2%; }
